[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/DelusionEngine/glfw
[submodule "thirdparty/glfw3webgpu"]
	path = thirdparty/glfw3webgpu
	url = https://github.com/DelusionEngine/glfw3webgpu
[submodule "thirdparty/wgpu-native"]
	path = thirdparty/wgpu-native
	url = https://github.com/DelusionEngine/wgpu-native
[submodule "thirdparty/webgpu-headers"]
	path = thirdparty/webgpu-headers
	url = https://github.com/DelusionEngine/webgpu-headers.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/DelusionEngine/imgui.git
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/DelusionEngine/entt
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/DelusionEngine/glm
